@page "/"
@using System.Reflection

@using FluentUiBlazorMdiSvgIcons
<FluentIcon Value="@MdiSvg.Github"></FluentIcon>

<PageTitle>Home</PageTitle>

<div>
    <FluentButton OnClick="@RandomIcon">
        Current: @this.name
    </FluentButton>
</div>

<div>
    <FluentIcon Value="@this.icon"></FluentIcon>
</div>
